<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/success.css">


    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

    <script>
        
      setTimeout(() => {
          let link = "http://localhost:5500/study" + "{{queryString}}"
          location.href = link.replace(/&amp;/g, '&');
      }, 2000)
    </script>

</head>

<body id="page-success">
    <div id="container">
        <div class="message-container">
            <img class="check" src="/images/icons/success-check-icon.svg" alt="Ícone check">
            <h1>Cadastro salvo!</h1>
            <h2> Tudo certo, seu cadastro está na lista de professores.<br>Agora é só ficar de olho de Whatsapp.
            </h2>
        </div>
    </div>
</body>


</html>