#page-success {
    background: var(--color-primary);
    background-image: url('../../images/success-background.svg');
}

.message-container { 
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.message-container h1 {
    color: var(--color-title-in-primary);
    font: 700 4.4rem Archivo;
}

.message-container h2 {
    color: var(--color-text-in-primary);
    text-align: center;
    font-weight: 200;
    font-size: 1.4rem;   
}